<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1667041059-tfmniauq62pisoul38lpgs0126k145jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1667041059-tfmniauq62pisoul38lpgs0126k145jp</string>
	<key>API_KEY</key>
	<string>AIzaSyApUUUDXYTZKZMuaM1l6S8BSxzdvr04ukc</string>
	<key>GCM_SENDER_ID</key>
	<string>1667041059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-test1-83dea</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test1-83dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1667041059:ios:579025af0ab3f844aeee96</string>
</dict>
</plist>